div#header {
	border-bottom: #dddddd dashed 5px;
	margin-bottom: 30px;
}

div#header * {
	display: inline;
}

div#links {
	margin-left: 40px;
}

div.container {
	width: auto;
}

div.row {
	width: auto;
}

div.col {
	float: left;
}

div.hide {
	display: none;
}

div#map {
}

div#leftBlocks {
	text-align: center;
}

div#leftBlocks > p {
	margin: 4px 80px auto;
	color: white;
	background-color: #444444;
	border-radius: 4px;
}

div#controlPanel {
}

div#blocklyDiv {
	margin-left: 5px;
	width: 550px;
}

div.clear {
	clear: both;
}

div#controlPanel > p,
div#controlPanel2 > p {
	text-align: center;
}

div#controlPanel button,
div#controlPanel2 button {
	padding: 6px 10px;
}

button#runButton {
	border-radius: 4px;
}

button#stopButton {
	border-radius: 4px;
}
button.hide, select.hide {
	visibility: hidden;
}

option.pass {
	color: #888888;
	background-color: #aaffaa;
}

div#robotBalloon > p {
	border: 1px solid #888888;
	border-radius: 8px;
	padding: 8px 10px;
	width: 360px;
	height: 70px;
}

div#registers table {
	border: 1px solid black;
	border-collapse: collapse;
}
div#registers th {
	border: 1px solid black;
	padding: 2px 4px;
}
div#registers td {
	border: 1px solid black;
	padding: 2px 4px;
}

.blocklyTreeRow {
	height: 44px;
	line-height: 22px;
	margin-bottom: 12px;
}

.blocklyTreeLabel {
	height: 42px;
	line-height: 42px;
}
